
/*LEVEL ONE*/
.level-one-container canvas {
    background-color: green;
    border: 1px solid black;
}

.level-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Level TWO*/
.level-two-container canvas {
    background-color: green;
    border: 1px solid black;
}

.level-two-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}



/*SPLASH SCREEN*/
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}

/*WINNER SCREEN*/
.winner-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}

/*LOSER SCREEN*/
.loser-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}

/*FINAL SCREEN*/
.final-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;   
}