@font-face {
    font-family: "Orbitron";
    src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}
body {
    background-image: url("../images/arcadebackground.jpg");
    background-size: cover;
    color: white;
    font-family: "Orbitron";
}

body button {
    font-family: "Orbitron";
    font-size: 2em;
    padding: 20px;
    color: #2a345e;
    text-shadow: -2px 0 #00ff9f, 0 2px #00ff9f, 2px 0 #00ff9f, 0 -2px #00ff9f;
    background-color: black;   
}

/*LEVEL ONE*/
.level-one-container canvas {
    background-color: black;
    border: 2px solid #00ff9f;
}

.level-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;

}



/*Level TWO*/
.level-two-container canvas {
    background-color: black;
    border: 2px solid #00ff9f;
}

.level-two-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    font-size: 1.3em; 
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


/*SPLASH SCREEN*/
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1em;
}

/*WINNER SCREEN*/
.winner-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1em;
}
.winner-screen span, p{
    font-size: 2.5rem;
}

/*LOSER SCREEN*/
.loser-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1em;
}

/*FINAL SCREEN*/
.final-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1em;   
}

